.warning-section {
    padding: 60px; /* Increased padding for more space */
    width: 30%;
    background-color: #ddd;
    border-radius: 12px; /* Increased border radius */
    margin: 0 auto; /* This will center the section horizontally */
    margin-top: 10%; /* Adjust the top margin as needed */
    text-align: center; /* Center the text and icon */
}

.warning-section p {
    margin-bottom: 15px; /* Increased margin-bottom for more space */
    font-size: 1.2em; /* Increased font size */
}

.warning-section i {
    font-size: 4em; /* Increased font size */
    color: #000000; 
    padding: 30px; /* Increased padding */
}




#create-event-form {
    background-color: white;
    border-radius: 10px;
    width: 33%;
    padding: 3em 3em; /* Adjusted padding */
    margin: auto;
    border: 2px solid rgb(233, 233, 233);
    color: rgb(0, 0, 0); /* Text color for better contrast */
}



#create-event-form label {
    display: block;
    margin-bottom: 8px;
    color: #000000; /* Dark blue color */
    font-size: larger;
    font-weight:500;
}


#create-event-form button:hover {
    transform: scale(0.95); 
}


.icon-input textarea {
    border: none;
    outline: none;
    flex: 1;
    padding-left: 10px;
    font-size: medium;
}

.input-group label,
.input-group textarea,
.input-group input,
.input-group select {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px; /* Set your preferred font size */
    font-weight: normal; /* Set your preferred font weight */
}


.input-group textarea::placeholder,
.input-group input::placeholder,
.input-group select::placeholder {
    color: #3a3a3a;
}

