.warning-section {
    padding: 60px; /* Increased padding for more space */
    width: 30%;
    background-color: #ddd;
    border-radius: 12px; /* Increased border radius */
    margin: 0 auto; /* This will center the section horizontally */
    margin-top: 10%; /* Adjust the top margin as needed */
    text-align: center; /* Center the text and icon */
}

.warning-section p {
    margin-bottom: 15px; /* Increased margin-bottom for more space */
    font-size: 1.2em; /* Increased font size */
}

.warning-section i {
    font-size: 4em; /* Increased font size */
    color: #000000; 
    padding: 30px; /* Increased padding */
}

#create-event-content{
    display: grid;
    grid-template-areas: 
    'title'
    'bar'
    'form';
    margin: 50px;
}

#create-event-content h2{
    grid-area: title;
    justify-self: center;
    font-size: 3em;
    margin-bottom: 50px;
}


#create-event-content #create-event-form {
    grid-area: form;
    border-radius: 10px;
    border: 2px solid rgb(233, 233, 233);

    max-width: 800px;
    width: 700px;
    justify-self: center;
    padding: 20px;
    margin-top: 50px;
}

#create-event-content #create-event-form .container-fluid{
    padding: 0;
}


#create-event-form label {
}


#create-event-form button:hover {
}


.icon-input textarea {

}

.my-input-group label,
.my-input-group textarea,
.my-input-group input,
.my-input-group select {

}


.my-input-group textarea::placeholder,
.my-input-group input::placeholder,
.my-input-group select::placeholder {
}

