.event-thumbnail {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-thumbnail img{
    width: 100%;
    height: 35em;
    object-fit: cover;
    object-position: center center;
}


.event-thumbnail .text {
    position: absolute;
    align-self: center;
}

.event-thumbnail .text h1{
    color: white;
}

.event-thumbnail .text p{
    color: white;
}

.event-thumbnail .event-info{
    position: absolute;
    align-self: flex-end;
    left: 0;
    font-weight: bold;
    font-size: larger;
    padding: 2%;
}

.event-thumbnail .event-info p{
    color: white;
}



.ticket-types {
    margin-top: 3em; /* Adjust the margin as needed for separation */
    text-align: center;
}

.ticket-types h2 {
    font-size: 3em;
}

h2 span {
    color: #316BFF;
}

.ticket-type {
    display: inline-block;
    padding: 3em;
    width: 20%; /* Set the width of the card */
    height: 30%; /* Set the height of the card */
    max-height: 30%;
    margin: 10px; /* Adjust the margin between cards */
    border: 3px solid #ddd; /* Border for the card */
    border-radius: 10px;
    background-color: #ddd;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease; /* Add transition for a smooth effect */
}

.ticket-type:hover {
    border-color: #0000006b;; /* Change border color on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}


#ticket-type h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}


#ticket-type p#ticket-type-price {
    position: absolute;
    top: 10px; /* Adjust to place it at the top */
    left: 10px; /* Adjust to place it at the left */
    font-size: 1.5em;
    margin: 0;
}

#ticket-type p#ticket-type-description {
    text-align: center;
    margin: 10px 0;
}

#ticket-type p#ticket-type-stock {
    text-align: center;
    margin: 0;
    font-size: 0.8em;
}


.event-button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 15px;
    margin-left: 1em; /* Add some spacing between buttons */
    color: #fff;
    transition: transform 0.3s ease; /* Add a smooth transition effect on transform property */
}

#deactivate-button{
    top: 20px; /* Adjust the top position */
    right: 20px; /* Adjust the left position */
    position: absolute;
    background: linear-gradient(to bottom, #bb0e08, #ee3c1c); /* Gradient background */
}

#activate-button{
    top: 20px; /* Adjust the top position */
    right: 20px; /* Adjust the left position */
    position: absolute;
    background: linear-gradient(to bottom, #1279bd, #36aaf7); /* Gradient background */
}

#buy-button{
    background: linear-gradient(to bottom, #1279bd, #36aaf7); /* Gradient background */
}

.event-button i{
    margin-right: 5px;
}


.event-button:hover {
    transform: scale(0.95);
}


/* Styles for the quantity input */
input[type="number"] {
    width: 60px; /* Adjust the width as needed */
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    text-align: center;
    margin-right: 5px; /* Add some spacing between the input and the next element */
}

/* Optional: Hover and focus styles for better user interaction */
input[type="number"]:hover,
input[type="number"]:focus {
    border-color: #36aaf7; /* Change border color on hover/focus */
    outline: none;
}

/* Optional: Adjust appearance for WebKit browsers (like Chrome and Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Optional: Style the input when it's invalid (e.g., quantity exceeds the max limit) */
input[type="number"]:invalid {
    border-color: #FF0000; /* Change border color for invalid state */
}
