.event-thumbnail {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-thumbnail img{
    width: 100%;
    height: 35em;
    object-fit: cover;
    object-position: center center;
}


.event-thumbnail .text {
    position: absolute;
    align-self: center;
}

.event-thumbnail .text h1{
    color: white;
}

.event-thumbnail .text p{
    color: white;
}

.event-thumbnail .event-info{
    position: absolute;
    align-self: flex-end;
    left: 0;
    font-weight: bold;
    font-size: larger;
    padding: 2%;
}

.event-thumbnail .event-info p{
    color: white;
}


.ticket-types {
    margin-top: 3em;
    text-align: center;
}

.ticket-types h2 {
    font-size: 3em;
}

h2 span {
    color: rgb(192, 148, 198);;
}

.ticket-type {
    display: inline-block;
    padding: 3em;
    width: 20%;
    height: 30%;
    max-height: 30%;
    margin: 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
    background-color: #ddd;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ticket-type:hover {
    border-color: #0000006b;
    transform: scale(1.05);
}


#ticket-type h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}


#ticket-type p#ticket-type-price {
    position: absolute;
    top: 10px;
    left: 10px; 
    font-size: 1.5em;
    margin: 0;
}

#ticket-type p#ticket-type-description {
    text-align: center;
    margin: 10px 0;
}

#ticket-type p#ticket-type-stock {
    text-align: center;
    margin: 0;
    font-size: 0.8em;
}


.event-button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 15px;
    margin-left: 1em;
    color: #fff;
    transition: transform 0.3s ease;
}

#deactivate-button{
    top: 20px;
    right: 20px;
    position: absolute;
    background: linear-gradient(to bottom, #bb0e08, #ee3c1c);
}

#activate-button{
    top: 20px;
    right: 20px;
    position: absolute;
    background: linear-gradient(to bottom, #1279bd, #36aaf7);
}

/*#buy-button{
    background: linear-gradient(to bottom, #1279bd, #36aaf7); 
}*/

.event-button i{
    margin-right: 5px;
}


.event-button:hover {
    transform: scale(0.95);
}


input[type="number"] {
    width: 60px;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    text-align: center;
    margin-right: 5px; 
}

input[type="number"]:hover,
input[type="number"]:focus {
    border-color: #36aaf7; 
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:invalid {
    border-color: #FF0000;
}

.centered-section {
   
    align-items: center;
    padding: 1rem 11em;
}

.star-icon {
    color:yellow;
    margin: auto 0;
}

.comment {
    margin: 2em;
    border: 1px solid var(--bs-secondary-color)!important;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.comment::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    border-radius: inherit;
    z-index: -1;
}

.comment p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.comment p.comment-author {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.comment p.comment-text {
    
    margin-left: 1em;
    font-size: 16px;
}

.comment:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.comment-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-icons-container div {
    display: flex;
    gap: 10px;
}

.fa-flag,.fa-pen-to-square:hover{
    cursor: pointer;
}

.pop-up-report {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.report-section{
    justify-content: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px 60px;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.report-textbox, .new-comment-textbox, #editedCommentText{
    width: 100%;
    resize: none;
}


#submit-comment-button {
    display: block;
     margin: 0 auto; 
}