.event-thumbnail {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-thumbnail img{
    width: 100%;
    height: 35em;
    object-fit: cover;
    object-position: center center;
}


.event-thumbnail .text {
    position: absolute;
    align-self: center;
}

.event-thumbnail .text h1{
    color: white;
}

.event-thumbnail .text p{
    color: white;
}

.event-thumbnail .event-info{
    position: absolute;
    align-self: flex-end;
    left: 0;
    font-weight: bold;
    font-size: larger;
    padding: 2%;
}

.event-thumbnail .event-info p{
    color: white;
}



.ticket-types {
    margin-top: 2em; /* Adjust the margin as needed for separation */
    text-align: center;
}

.ticket-types h2 {
    font-size: 3em;
    padding: 1em;
}

.ticket-types h2 span {
    color: #316BFF;
}

.ticket-type {
    display: inline-block;
    padding: 3em;
    width: 20%; /* Set the width of the card */
    height: 30%; /* Set the height of the card */
    max-height: 30%;
    margin: 10px; /* Adjust the margin between cards */
    border: 3px solid #ddd; /* Border for the card */
    border-radius: 10px;
    background-color: #ddd;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease; /* Add transition for a smooth effect */
}

.ticket-type:hover {
    border-color: #0000006b;; /* Change border color on hover */
    transform: scale(1.05); /* Slightly scale up on hover */
}


#ticket-type h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
}


#ticket-type p#ticket-type-price {
    position: absolute;
    top: 10px; /* Adjust to place it at the top */
    left: 10px; /* Adjust to place it at the left */
    font-size: 1.5em;
    margin: 0;
}

#ticket-type p#ticket-type-description {
    text-align: center;
    margin: 10px 0;
}

#ticket-type p#ticket-type-stock {
    text-align: center;
    margin: 0;
    font-size: 0.8em;
}

.active {
    background-color: aqua;
}
