header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; 
    background-color: #1f1f1f;
    color: #fff;
}

header a {
    text-decoration: none;
    color: #fff; 
    font-size: 1.5em;
    transition: transform 0.3s ease; 
}

#logo {
    text-decoration: none;
    color: #fff;
    font-size: 2.2em;
    font-weight: bold;
    display: inline-block;
}

header a:hover {
    transform: scale(0.9);
}


#logo > span {
    color: #36aaf7;
}
#header-nav {
    display: flex;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

#header-nav a {
    margin: 0px 15px;
}

#header-buttons {
    display: flex;
    align-items: center;
}

#header-buttons a.button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 15px;
    margin-left: 1em;
}

.login {
    background-color: #36aaf7;
    border: 2px solid #36aaf7;
    color: #fff;
}

#register {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #36aaf7;
    color: #36aaf7;
}

#register:hover{
    color: #fff;
}

#header-buttons a.button:hover {
    background-color: #36aaf7;
    color:white;
}

#header-buttons span {
    margin-right: 10px;
}