.tickets-container {
    padding: 1em 3em;
}

.ticket-instance {
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px;
    border: 2px solid rgb(233, 233, 233);
    margin: 10px;
}

.purple-text h3,
.purple-text p {
    color: purple;
    text-decoration: none;
}

.ticket-instance p {
    margin: 10px 0;
}

.ticket-instance h3 {
    text-align: center;
}

.ticket-instance h3 i {
    margin-right: 10px;
}