/* nav bar */

main {
    align-items: center;
    align-content: center;
  }
  
  body>header {
    height: 5rem;
    margin: 1rem 3rem;
  }
  
  body>main {
    margin: 1rem 3rem;
  }
  
  body>header img {
    height: 3.5em;
    ;
  }
  
  body>header>nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1242px;
    margin: 0 auto;
  }
  
  .logo {
    margin-right: 10px;
    max-height: 40px;
    max-width: auto;
  }
  
  .nav-links::before {
    content: "";
    border-right: 1px solid gray;
    height: 2.5em;
    /* Adjust the height as needed */
    margin-right: 30px;
    /* Adjust the spacing as needed */
  }
  
  .nav-links {
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    z-index: 11;
  }
  
  .nav-links li {
    display: inline-block;
    padding: 0 1.5rem;
  }
  
  .nav-links li a {
    font-family: 'Dongle', sans-serif;
    font-size: 2em;
    font-weight: 400;
    transition: all 200ms ease;
    text-decoration: none;
    color: black;
  }
  
  .nav-links li a:hover {
    color: #316BFF;
  }
  
  .nav-buttons {
    display: none;
  }
  
  .active a {
    color: #316BFF !important;
    font-weight: bolder;
  }
  
  
  
  
  
  .buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  .buttons button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: all 200ms ease;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 10px;
    min-width: 150px;
  }
  
  .create-event-btn {
    background-color: #316BFF;
    color: white;
  }

  .event-btn:hover {
    cursor: pointer;
  }
  
  .log-btn {
    border: 1px solid black;
  }
  
  .buttons a {
    text-decoration: none;
    /* Remove the underline on anchor tags */
    display: inline-block;
    /* Make the anchor tags behave like block elements */
    transition: transform 0.5s, background-color 1s;
  }
  
  .buttons a:hover,
  .google-btn:hover,
  .phone-btn:hover {
    transform: scale(0.95);
    /* Increase the size on hover */
  }
  
  .create-event-btn:hover {
    background-color: #1a4ccc;
  }
  
  .log-btn:hover {
    background-color: #316BFF;
    border-color: #316BFF;
    color: #fff;
  }