/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body{
  margin: 0em;
  max-width: 100vw;
  --light-blue: #36aaf7;
  --dark-blue: #DFD6C8;
  --darkest-blue: 
  --light-main-color: white;
  --post-it-color: #7B522B;
}

h1 {
  font-size: 3em;
  text-align: center;
  padding: 50px;
  color: black;
}

h1 span {
  color: #36aaf7;
}

/* Event card */

.event-card {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0;
  max-width: 1100px;
  height: 400px;
  margin: 0 auto;
  background-color: #dadada;
  margin-bottom: 40px;
  transition: transform 0.5s, background-color 0.5s;
}

.event-card:hover {
  transform: scale(0.95);
  cursor: pointer;
}

.event-link, .event-link:visited {
  color: #000;
  text-decoration: none;
}

.event-card img {
  width: 50%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.event-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.event-info a {
  text-decoration: none;
  color: inherit;
}

.event-info h3 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
}

.event-info p {
  color: #666;
}


.price {
  border-radius: 20px;
  border: 1px solid #316BFF;
  padding: 4px 30px;
  width: fit-content;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #316bff;
  transition: transform 0.5s, background-color 0.5s;
}

.price:hover {
  background-color: #316BFF;
  color: #fff;
}

.event-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 27px;
  margin: 20px 0px;
}

.event-local {
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
  color: #5f5f74;
  margin-top: 0;
  position: relative;
}

.event-btn {
  margin-top: 70px;
  border-radius: 10px;
  background-color: #316BFF;
  text-align: center;
  width: fit-content;
  align-self: center;
  transition: transform 0.5s, background-color 0.5s;
}

.event-btn:hover {
  background-color: #1a4ccc;
  transform: scale(0.95);
}

.event-btn button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.02em;
  font-size: 18px;
  margin: 15px 40px;
}

.event-local::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  border-bottom: 1px solid #5f5f74;
}

main {
  padding-bottom: 50px;
}

footer {
  padding-top: 60px;
  padding-bottom: 30px;
  border-top: 1px solid #e6e7f3;
}

.footer-container {
  max-width: 1242px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.footer-col {
  flex: 1;
  padding: 0 30px;
  box-sizing: border-box;
}

footer img {
  height: 50px;
  width: auto;
}

footer h5 {
  font-size: 40px;
  font-family: 'Dongle', sans-serif;
  font-weight: 400;
  line-height: 1.2em;
}

li {
  list-style-type: none;
}

.get-in-touch li, .quick-links li{
  display: flex;
  margin: 20px 0;
  align-items: center;
}

.get-in-touch li ion-icon  {
  color:#316BFF;
  border-radius: 50%;
  background-color: #f3f6ff;
  padding: 8px;
}

.quick-links li ion-icon {
  color: #316BFF;
  padding-right: 15px;
  vertical-align: middle;
}

.get-in-touch li a, .quick-links li a {
  font-size: 27px;
  font-family: 'Dongle', sans-serif;
  color: black;
  font-weight: 100;
  transition: all 350ms ease;
}

.get-in-touch li a:hover, .quick-links li a:hover {
  color:#316BFF;
  font-weight: 200;
}

footer .footer-icon-wrapper {
  padding-right: 15px;
}

a {
  text-decoration: none;
}

footer .follow p{
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Dongle', sans-serif;
  font-size: 27px;
  font-weight: 100;
  line-height: 0.9em;
}

footer .project-desc {
  text-align: justify;
  margin-top: 17px;
  margin-bottom: 30px;
  margin-left: 10px;
  font-family: 'Dongle', sans-serif;
  font-size: 27px;
  font-weight: 100;
  line-height: 0.9em;
}

footer .social-media {
  display: flex;
  justify-content: space-evenly;
}

footer .social-media li a ion-icon {
  color: #316BFF;
  padding: 10px;
  border-radius: 50%;
  background-color: #f3f6ff;
  transition: all 350ms ease;
}

footer .social-media li a ion-icon:hover {
  transform: scale(1.3);
}

footer .rights {
  margin-left: 10px;
  font-family: 'Dongle', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.a-button,
button {
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 20px;
  text-decoration: none;
  background: linear-gradient(to bottom, #1279bd, #36aaf7);
  border-radius: 15px;
  margin-left: 1em; 
  color: #fff;
  transition: transform 0.3s ease; 
}

.a-button:hover,
button:hover {
  color: white;
  transform: scale(0.95);
}




#about-us {
  max-width: 800px;
  padding: 20px;
  margin: 3em;
}

#about-us h2 {
  font-size: 3em;
  margin-bottom: 1em;
  text-align: start;
}

#about-us p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 5em;
}